@import url("https://use.typekit.net/wee5yer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fenwick-outline {
        font-family: fenwick-outline, sans-serif;
    }

    .apolline {
        font-family: apolline, serif;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    * {
        font-family: interstate, sans-serif;
    }
}
